.gridd{
  display:grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  overflow:auto;
  width:100%;
  height:auto;
}

h1#başlık{
  grid-row: 1/2;
  grid-column: 2/3;
  align-self:center;
  letter-spacing: 25px;
  margin-right:%2;
  font-size: 50px;
  font-family: cursive;
  font-weight: lighter;
  background-color: rgb(100, 75, 60);
  padding: 2%;
  justify-self: start;
  text-shadow: 3px 8px rgb(54, 15, 15);
  color: rgb(216, 210, 133);

 }
 header{
  display: flex;
  background-color: rgb(100, 75, 60);
  grid-row: 1/2;
  grid-column: 1/4;
  box-sizing: border-box;
  border: 4px goldenrod solid;
  box-shadow: 5px 5px gray;
   overflow: scroll;
   -ms-overflow-style: none; 
  scrollbar-width: none;
   -webkit-scrollbar:none;

 }
 ::-webkit-scrollbar {
   opacity:0.50;
   
}

img#logo{
  width: 200px;
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0.50;
  background-color: rgb(100, 75, 60);

}
ul{
  display:flex;
  background-color: linear-gradient (to right,black,rgb(100, 75, 60));
  grid-row: 1/2;
  grid-column: 1/4;
  list-style:none;
  overflow:scroll;

}
 ul li a{ grid-row: 1/2;
  grid-column: 3/4;
  align-self: center;
  text-align: center;
  margin-left: 30px;
  font-size: 30px;
  background-color: rgb(100, 75, 60);
   list-style:none;
   overflow: scroll;
   
  
}

a{text-decoration: none;
box-sizing: border-box;
border: 3px rgb(80, 80, 202) solid;
color: rgb(221, 204, 150);
background-color: rgb(148, 37, 30);
box-shadow: 4px 6px rgb(54, 27, 27);
  overflow:scroll;

  }
  a:hover{
    font-size: xx-large;
    background-color: rgb(54, 27, 27);
  }
  #bodyb:hover{
    background-color: rgb(63, 12, 12);
    color: rgb(165, 159, 77);
    font-size: 35px;
  }
   body{
    grid-row: 2/3;
    grid-column: 1/4;
    background-image: url(arka.jpg);
    height: auto;
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
     background-position: center;
  
    
   }
   
   #bodyp{
    color: rgb(238, 211, 180);
    font-size: 70px;
    border: 4px solid rgb(151, 48, 16);
    font-style: italic;
    font-weight: 300;
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 40px 60px;
    text-shadow: 7px 8px black;


   }
   #bodyb{ 
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    margin: 150px -60px;
    color: rgb(216, 210, 133);
    background-color: rgb(54, 15, 15);
    border: 5px rgb(31, 8, 8);
    border-style: groove;
    box-shadow: 0.5% 1% rgb(31, 8, 8);
    position: relative;
    top: 100px;
    left:100px;
    
  

   }
   .second{
    grid-column: 1/4;
    grid-row: 3/5;
    background-color: rgb(68, 39, 31);
    border: 3px rgb(148, 118, 64) solid;
    box-shadow: 5px 5px rgb(31, 8, 8);
    width:100%;
    height:auto;
     overflow: scroll;
   }
   
   .öğrenciler{
    grid-row: 3/5;
    grid-column: 2/3;
    display: flex;
   }

   img{
    width: 40%;
    height: auto;
    border:3px rgb(235, 188, 102) solid;
    box-shadow: 5px 5px rgb(75, 53, 27);
   }
   img:hover{
    width: 60%;
   }
   #baş-iki{
    text-align: center;
    justify-items: flex-start;
    letter-spacing: 20px;
    color: rgb(235, 188, 102);
    text-shadow: 4px 5px rgb(75, 53, 27);
    text-decoration: underline wavy;
    font-style: italic;
    font-family: serif;
   }
   p{
    font-size: 40px;
    text-shadow: 0in;
    color: rgb(235, 188, 102);
    text-shadow: 0.5% 0.5% rgb(54, 27, 27);
    text-decoration:wavy
   }
   
   #copyright{
    font-size: 1%;
   }
   @media only screen and (max-width: 480px) {
     p{ fon-size:8px;}
     body {background-position: center;
     font-size: 12px;
     background-position: center;
           width:480px;
           height:auto;}
    #bodyp{ font-size:14px;
         margin-top:10px;
      border-radius: 8px 12px;
    }
    
    #bodyb{
      font-size: 4px;
      margin: 30px -12px;
      top:20px;
      left:20px;}
     .second{
       width:100%;
       height:auto;
} 
     .second {
       width:480px;}
     header{overflow:scroll;}
     ul li a{
       overflow:scroll; }
     
     a{ overflow:scroll;}

